/*insert Google fonts 'David Libre', serif*/
body {
  font-family: 'David Libre', serif;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'David Libre', serif;
  color: #0a3e60;
}
.subtitle {
  font-family: 'David Libre', serif;
}
input, textarea, select {
  font-family: 'David Libre', serif;
}
#header-menu ul.menu li a {
  font-family: 'David Libre', serif;
}
#navigation .block-superfish ul.sf-menu li a {
  font-family: 'David Libre', serif;
}
#comments ul.links li a {
  font-family: 'David Libre', serif;
}
input[type="submit"], input[type="reset"], input[type="button"] {
  font-family: 'David Libre', serif;
}
input.form-text {
  font-family: 'David Libre', serif;
}
textarea {
  font-family: 'David Libre', serif;
}

/*CorporateClean CSS Tweaks*/
li a.active,
a {
  color: #0a3e60;
}
#header-menu ul.menu li a.active {
  color: #70bef2;
}
#comments-title-right .counter {
  color: #494949;
}
#header {
  display: none;
}
.links ul li a, a.more, #comments ul.links li a, input[type="submit"], input[type="reset"], input[type="button"] {
  /* background */
  background: #005b79;
  /* IE10 */
  background-image: -ms-linear-gradient(top, #005b79 0%, #0079a2 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #005b79 0%, #0079a2 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #005b79 0%, #0079a2 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005b79), color-stop(1, #0079a2));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #005b79 0%, #0079a2 100%);
  /* Proposed W3C Markup */
  background-image: linear-gradient(top, #005b79 0%, #0079a2 100%);
  /* IE6-9 */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#005b79', endColorstr='#0079a2');
  /* shadow */
  -webkit-box-shadow: 0px 1px 2px #939da2; -moz-box-shadow: 0px 1px 2px #939da2; box-shadow: 0px 1px 2px #939da2;
}


