/* styles apply to the block view 'edition_viewer' (Collection Viewer)

 * narrow screen sizes should show image then text as their own rows and fill
 * the width of the container; the height of the image should be determined by
 * the natural ratio with it filling the available width; text area determines
 * its height by the content height (no overflow cutoff or scrolling within it)
 */
.half-and-half {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}
.half-and-half > div { flex: 1 100%; }
.transcription-text {
    border: 5px solid #333;
    padding: 12px;
    overflow: auto;
}
.right-half { margin-top: 15px; }
.left-half { margin-bottom: 15px; }
.left-half > a {
    display: block;
    width: 100%;
    height: 100%;
}
.left-half > a > img { width: 100%; }
.image-center { text-align: center; }
.image-center.span12 a img { display: inline; }
/* wide screen sizes should display image+text boxes side-by-side with the
 * height of the boxes determined by the natural ratio of height of the image
 * if the width occupies 50% of the content area (minus the 30px gutter)
 */
@media all and (min-width: 600px) {
    .half-and-half { align-items: stretch; }
    .half-and-half > div { flex: 1; }
    .half-and-half .left-half {
        margin-right: 15px;
        margin-bottom: 0;
    }
    .half-and-half .right-half {
        margin-left: 15px;
        margin-top: 0;
    }
}


/* styles apply to the edition_viewer navigation_new_tab_link_block
 *
 * - this block requires pagination to get a url parameter for its function,
 * but the page navigation links should not be visible in the navigation bar
 * - the view in new tab link should be styled like a button with an icon
 * aligned right in the nav bar
 */
.view-display-id-navigation_new_tab_link_block .pagerer { display: none }
.view-display-id-navigation_new_tab_link_block .menu li { float: right !important }
.view-display-id-navigation_new_tab_link_block a.view-in-new-tab {
    border: 2.5px solid currentColor;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px !important;
    background: url(edition_annotator_tool_new_tab_icon-white.png) no-repeat 10px;
    padding: 5px 10px 5px 30px !important;
    display: block;
    text-transform: lowercase !important;
    transition-duration: .2s;
    transition-property: color,border,background;
}
.view-display-id-navigation_new_tab_link_block a.view-in-new-tab:hover,
.view-display-id-navigation_new_tab_link_block a.view-in-new-tab:active {
    color: black !important;
    background-color: white;
    background-image: url(edition_annotator_tool_new_tab_icon-black.png);
}

/*
 * Reorder the pager to be at the top of the view
 */
.view-id-edition_viewer {
    display: flex;
    flex-direction: column;
}
.pagerer { order: -1; }